{% extends "gallery/base.html" %}
{% load i18n %}

{% block title %}{% trans "Profile settings" %}{% endblock %}

{% block head %}
    <script>
        $(function() {
            mainAccount();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include "gallery/auth/snippets/edit_sidebar.html" with active="profile" %}
            </div>
            <div class="col-md-9">
                <h1>{% trans "Profile settings" %}</h1>

                <form method="POST">
                    {% csrf_token %}

                    {% include "gallery/snippets/simple_form_errors.html" %}
                    {% include "gallery/snippets/simple_form_field.html" with field=form.about_me %}
                    {% include "gallery/snippets/map_picker.html" %}
                    {% include "gallery/snippets/simple_form_field.html" with field=form.display_location %}

                    <button type="submit" class="btn btn-default">{% trans "Save" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
