{% extends "gallery/base.html" %}
{% load i18n %}

{% block title %}{% trans "Account settings" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include "gallery/auth/snippets/edit_sidebar.html" with active="account" %}
            </div>
            <div class="col-md-9">
                <h1>{% trans "Account settings" %}</h1>
                {% include "gallery/snippets/simple_form.html" %}
            </div>
        </div>
    </div>
{% endblock %}
