{% extends "gallery/base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h1>{% trans "Register" %}</h1>
        {% include "gallery/snippets/simple_form.html" %}
    </div>
{% endblock %}
