{% load i18n %}
{% load votes %}

<div class="row current-photo" current_photo_id="{{ current_photo.id }}">
    <div class="col-md-7">
        <img class="image" src="{{ current_photo.image.url }}">
    </div>
    <div class="col-md-5 about">
        {% current_photo_upvoted user=user as upvoted %}
        <div class="vote-button {% if upvoted %}upvoted{% endif %}">
            <div class="glyphicon glyphicon-arrow-up"></div>
            <div class="score">{{ current_photo.score }}</div>
        </div>

        <div class="user">
            {% blocktrans with username=current_photo.user url=current_photo.user.get_absolute_url %}
                by <a href="{{ url }}">{{ username }}</a>
            {% endblocktrans %}
        </div>

        <div class="date">
            <time class="timeago" datetime="{{ current_photo.created|date:"c" }}">{{ current_photo.created }}</time>
        </div>

        <div class="icon-links">
            <a href="{{ current_photo.image.url }}" target="_blank" title="{% trans "Download" %} ({{ current_photo.image.width }} x {{ current_photo.image.height }})"><span class="glyphicon glyphicon-download-alt"></span></a>
            <a href="{{ current_photo.get_absolute_url }}" title="{% trans "Direct link" %}"><span class="glyphicon glyphicon-share-alt"></span></a>
        </div>

        <div class="actions">
            {% if request.user == current_photo.user %}
                <a href="{% url "gallery:core:remove_current_photo" current_photo.pk %}">
                    <span class="glyphicon glyphicon-remove"></span> {% trans "Remove" %}
                </a>
            {% endif %}
        </div>
    </div>
</div>
