{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Gallery{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "gallery/css/main.css" %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

        <script src="{% static "gallery/js/main.js" %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script>
            var info = {
                location: {% if location %}{lat: {{ location.lat }}, lon: {{ location.lon }}}{% else %}null{% endif %}
            };
            $(function() {
                $('time.timeago').timeago();
            });
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}{% endblock %}
    </head>
    <body id="{% block body_id %}default-body-id{% endblock %}">
        <div id="site">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'gallery:core:index' %}">Gallery</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse">

                        <div>
                            <ul class="nav navbar-nav">
                                <li id="nav-index"><a class="navbar-link" href="{% url 'gallery:core:index' %}">Home</a></li>
                                <li id="nav-add-photo"><a class="navbar-link" href="{% url 'gallery:core:add_photo' %}">Add photo</a></li>
                            </ul>
                        </div>

                        <div class="navbar-right">
                            {% if user.is_authenticated %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a aria-expanded="true" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" id="user-drop">
                                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                            {{ user }}
                                            <span class="caret"></span>
                                        </a>
                                        <ul aria-labelledby="user-drop" class="dropdown-menu">
                                            <li><a href="{{ user.get_absolute_url }}">{% trans "Your profile" %}</a></li>
                                            {% if user.is_staff %}
                                                <li><a href="{% url 'admin:index' %}">{% trans "Admin panel" %}</a></li>
                                            {% endif %}
                                            <li class="divider" role="separator"></li>
                                            <li><a href="{% url 'gallery:auth:edit_profile' %}">{% trans "Settings" %}</a></li>
                                            <li><a href="{% url 'gallery:auth:logout' %}">{% trans "Sign out" %}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a class="navbar-link" href="{% url 'gallery:auth:register' %}">{% trans "Sign up" %}</a>
                                    </li>
                                    <li>
                                        <a class="navbar-link" href="{% url 'gallery:auth:login' %}">{% trans "Sign in" %}</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </nav>

            {% if messages %}
                <div class="container">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger" role="alert">
                        {% endif %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <div class="alert alert-warning" role="alert">
                        {% endif %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                            <div class="alert alert-info" role="alert">
                        {% endif %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success" role="alert">
                        {% endif %}

                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">Footer.</p>
            </div>
        </footer>
    </body>
</html>
