{% load i18n %}

{{ form.lat }}
{{ form.lon }}

<div class="form-group {% if form.lat.errors or form.lon.errors %}has-error{% endif %}">
    <label>{% trans "Location" %}</label>
    <div class="map-picker form-control" id="map-picker"></div>
    <span class="help-block">
        {% if form.lat.errors or form.lon.errors %}
            {% trans "* Click on the map to select a location." %}
        {% endif %}
        <span class="help-block">{{ form.location_help_text }}</span>
    </span>
</div>
