<form method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} action="{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
    {% csrf_token %}
    {% include "gallery/snippets/simple_form_errors.html" %}
    {% for field in form %}
        {% include "gallery/snippets/simple_form_field.html" %}
    {% endfor %}
    <button type="submit" class="btn btn-default">Submit</button>
</form>
