{% extends "gallery/base.html" %}

{% block head %}
    <script>
        $(function() {
            initMap('map');
        });
    </script>
{% endblock %}

{% block body_id %}body-index{% endblock %}

{% block content %}
    <div id="map"></div>
{% endblock %}
