{% extends "gallery/base.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans with username=profile %}User {{ username }}{% endblocktrans %}
{% endblock %}

{% block head %}
    <script>
        $(function() {
            mainProfile();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            {{ profile }}

            {% if profile == user %}

                <a href="{% url "gallery:auth:edit_profile" %}" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit profile
                </a>
            {% endif %}
        </h1>

        <div class="row">
            {% if profile.userdata.should_display_location %}
                <div class="col-md-6">
                    <div class="profile-map" id="profile-map" lon="{{ profile.userdata.lon }}" lat="{{ profile.userdata.lat }}"></div>
                </div>
                <div class="col-md-6">
            {% else %}
                <div class="col-md-12">
            {% endif %}
                <p>
                    {% if profile.userdata.about_me %}
                        {{ profile.userdata.about_me }}
                    {% else %}
                        <span class="text-muted">{% trans "This user hasn't written an about me section." %}</span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
